body{
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
}

h1, h2{
	font-weight;700;
}

main ul{
	/* making this container expandable, is the key to responsivitiy with lists */
	list-style-type:none;
	margin:0px auto;
	padding:0px;
	border:solid;
	min-width:300px;
	max-width:900px;
}