body{
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
}

h1, h2{
	font-weight;700;
}
/* the path to the specific element
   e.g. the list in the main section... */
main ul{
	/* making this container expandable,
	is the key to responsivitiy with lists */
	list-style-type:none;
	margin:0px auto;
	padding:0px;
	min-width:300px;
	max-width:930px;
	/* align the entire list centre...*/
	text-align:center;
	border:solid 1px #ebebeb;
}

main ul li {
	/* align the items in the list left... */
	text-align:left;
	width:300px;
	display:inline-block;

}

main ul li:nth-child(2){
	border:solid 1px #000;
	margin: 0px 8px;
}