main ul{
	/* override the default list padding */
	padding:0px;
	/* add left-over space evenly to left/right of UL */
	margin:0px auto;
	/* Using max-width instead of width in this situation will improve the browser's handling of small windows. */
	max-width:950px;
    min-width:300px;
	text-align:center;
}

main ul li{
	width:100px;
	display:inline-block;
	border:solid 1px #000;
}