
ul {
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
}

ul li{
	width: 23%;
	display: inline-block;
	background-color: blue;
}