body{
	min-width:400px;
	max-width:1024px;
	margin:0px auto;
}

nav, footer, main, aside, section, li{
	border: solid 1px #000;
	height:80px;
	margin:2px;
}

nav, footer {
	width:100%;
	background-color:bisque;
}

main{
	width:78%;
	height:auto;
	display: inline-block;
}

aside{
	width:20%;
	display: inline-block;
	vertical-align:top;
	background-color:beige;
}

main ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
}

main ul li{
	width:48%;
	display:inline-block;
	background-color:coral;
}

@media screen and (min-width:300px) and (max-width:800px){
	body{
		background-color: aqua;
	}
	main{
		width:70%;
	}
	aside{
		width:25%;
	}
}

@media screen and (min-width:0px) and (max-width:570px){
	body{
		background-color: blue;
	}
}


