*{
    /*
    border: solid black 1px;
    padding:0px;
    margin:0px;
    */
}

body {
     /*
    All of the defaults are set in here - everything else is inherited from the body...
    */
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;  /* equivalent to 16px*/
    line-height: 1.5em;
    background: url("../img/iphone4_google1.png") top center no-repeat;
}

header{
    /*background-color:red;*/
}


main{
    /*background-color:skyblue;*/
}

footer{
    /*background-color:firebrick;*/
}

p{
    
}
h1{
    font-size: 2.2em;
    font-weight:normal;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2em;
   
    background-color:antiquewhite;
}

h2{
    font-size: 2em;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    line-height: 1em;

    background-color:aqua;
}

ul{
    padding:0px;
}

ul li{
    list-style-type: none;
    border-top: solid black 1px;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
}


#imageref{
    font-size: 0.7em;
}


a{
text-decoration: none;
}

a:hover{
    cursor: pointer;
}