/*
This style sheet is designed to be a basioc starting point for a MOBLIE FIRST rapid 

Get it to look nice on a MOBILE, then add in @media queries for TABLET and DESKTOP

Save and test regularly - show it to your family and friends.
*/

*{
    
    border: solid black 1px;
    padding:0px;
    margin:0px;
    */
}
html {
    height: 100%;
}

body {
     /*
    All of the defaults are set in here - everything else is inherited from the body...
    */
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;  /* equivalent to 16px*/
    line-height: 1.5em;
    height: 100%;
    display: table; width: 100%; height: 100%;
   /* background: url("../img/iphone4_google2_retina.png") top center no-repeat;
    */
}

header{
    text-align: center;
    background-color:red;
    display: table-row;
    height: 1px;
}


main{
    background-color:skyblue;
    display: table-row;
    height: auto;
}

footer{
    text-align: center;
    background-color:firebrick;
    display: table-row;
    height: 1px;
}

p{
    /* inheriting from body */
}
h1{
    font-size: 2em;
    font-weight:normal;
    font-family: 'Open Sans', sans-serif;
    line-height: 1em;
}

h2{
    font-size: 1.5em;
    /*font-weight: 900;*/
    font-family: 'Open Sans', sans-serif;
    line-height: 1em;
}

ul{
    padding:0px;
}

ul li{
    list-style-type: none;
    border-top: solid black 1px;
    
}

footer ul {
    display: inline;
}

footer ul li {
    display: inline;
}

#imageref{
    font-size: 0.7em;
}

#home_link{
    display: inline;
}

#page_links{
    display: inline;
}


a{
text-decoration: none;
}

a:hover{
    cursor: pointer;
}

tooltip-label {
  font-size: 1em;
  font-family: 'Helvetica' serif;
  background: lightblue;
  padding: 0.4em;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1em
}
.tooltip-input {
    display: none;
} /*Hide input element*/

.tooltip-content {
    margin-bottom: 1.5em;
}
.tooltip-input:not(checked) ~ .tooltip-content {
    display: none;
}
.tooltip-input:checked ~ .tooltip-content {       
    display: block;
}